fastapi==0.109.1
uvicorn==0.27.0
beautifulsoup4==4.12.3
selenium==4.18.1
requests==2.31.0
python-dotenv==1.0.1
python-multipart==0.0.6
pydantic==2.6.3
pydantic-settings==2.2.1
typing-extensions==4.10.0